*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 1vh;
    background-image: url("back.jpg");
    background-size: cover;
    
}
header img{
    padding-left: 80px;
    padding-top: 50px;
    height: 180px;
    width: 180px;
    cursor: pointer;

}
.container{
    width: 50%;
    height: 500px;
    border: 2px solid rgb(216, 213, 213);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 25%;
    margin-top: 0.2%;
    background-image: url("clouds.jpg");
    background-size: cover;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
    
img{
    width: 150px;
    height: 150px;

}
.col{
    margin-top: 20px;
}
input{
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border: 2px solid black; 
    border-radius: 10px;
    padding: 5px;
    margin-left: 50px;
    background-color: lightblue;
    font-size: 25px;
}
.degree{
    margin-top: 30px;
    color: white;
    font-size: 70px;
    font-weight: bolder;
}
.humidity{
    float: left;
    margin-left: 70px;
    margin-top: -120px;
    padding-left: 20px;
}
.humidity p{
    color: white;
    font-size: 20px;
}
.wind{
    float: right;
    margin-right: 70px;
    margin-top: -120px;
    padding-right: 20px;
}
.wind p{
    color: white;
    font-size: 20px;
}
button{
    width: 100px;
    padding: 12px;
    background-color: black;
    color: whitesmoke;
    border: 2px solid rgb(114, 193, 226);
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: lightblue;
}
.city{
    font-size: 30px;
    color: white;
    padding-top: 10px;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .weather, .humidity, .wind {
      width: 100%;
    }
}